body { font-family: 'microsoft yahei','stheiti',sans-serif; color: #333; font-size: 1em; }
.title { margin: 50px 0 0; font-size: 2em; font-weight: normal; text-align: center; }
.copyright { margin: 50px 0 50px; padding: 20px 0 0; border-top: 1px solid #eee; text-align: center; color: #aaa; }


/*transform*/
.transform {
	max-width: 50em;
	height: 10em;
	margin: 5em auto 3em;
}
.transform .group {
	padding: 0.2em 0;
}
.transform label {
	display: inline-block;
	width: 1.5em;
}
.transform input {
	padding: 1em 0.8em;
	border: 1px solid #dfdfdf;
}
.transform .hex {
	float: left;
	width: 33.3%;
	margin: 3.45em 0 0;
	text-align: center;
}
.transform .arrow {
	float: left;
	width: 33.3%;
	line-height: 0.5em;
	margin: 0.5em 0 0;
	text-align: center;
	font-size: 5em;
}
.transform .dec {
	float: left;
	width: 33.3%;
	text-align: center;
}


/*recent*/
.recent {
	max-width: 45em;
	margin: 0 auto 8em;
}
.recent h2 {
	padding: 0 0 1em;
}
.recent p a {
	float: left;
	display: block;
	width: 4em;
	height: 4em;
	line-height: 10.5em;
	margin: 0 0.5em 0 0;
	border-radius: 50%;
	box-shadow: inset 0 0 1px #999;
	text-align: center;
	color: #aaa;
}
