body { font-family: 'microsoft yahei','stheiti',sans-serif; color: #333; font-size: 1em; }
.title { margin: 50px 0 0; font-size: 2em; font-weight: normal; text-align: center; }
.copyright { margin: 50px 0 50px; padding: 20px 0 0; border-top: 1px solid #eee; text-align: center; color: #aaa; }

/*animations*/
a { color: #2093ce;
    transition:all .7s;
    -moz-transition:all .7s;
    -webkit-transition:all .7s;
}
@keyframes fadein {
    0% { opacity: 0.35; }
    100% { opacity: 1; }
}
@-webkit-keyframes fadein {
    0% { opacity: 0.35; }
    100% { opacity: 1; }
}
@-moz-keyframes fadein {
    0% { opacity: 0.35; }
    100% { opacity: 1; }
}
