#loading {
    display: -webkit-flex;
    display: flex;
    width: 100%;
    height: 100%;
    background: #fff;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
    -webkit-transition: opacity 1s linear;
    transition: opacity 1s linear;
}
#loading span {
    margin: auto;
    color: #333;
    -webkit-transition: -webkit-transform 1s ease-in-out;
    transition: transform 1s ease-in-out;
    -webkit-animation: breath 2.4s linear infinite;
    animation: breath 2.4s linear infinite;
}
.loading_hide {
    opacity: 0;
}
.loading_hide span {
    -webkit-transform: translate(0,20px);
    transform: translate(0,20px);
}

@-webkit-keyframes breath {
    0% { opacity: 1; }
    40% { opacity: 0.4; }
    100% { opacity: 1; }
}
@keyframes breath {
    0% { opacity: 1; }
    40% { opacity: 0.4; }
    100% { opacity: 1; }
}