/*basic*/
* {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -webkit-touch-callout：none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html {
    width: 100%;
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
    background: #fff;
    overflow: hidden;
}
input, textarea {
    -moz-user-select: auto;
    -webkit-user-select: auto;
    user-select: auto;
}
.swiper-container {
    width: 100%;
    height: 100%;
}



/*style*/
.quiz_item_selected {
    color: red;
}



/*paging*/
.bullet_1, .bullet_5, .bullet_6 {
    display: none;
}



/*music*/
.music {
    display: block;
    width: 50px;
    height: 50px;
    background: red;
    border-radius: 50%;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 90;
}
.music:after {
    content: "";
    display: block;
    width: 2px;
    height: 15px;
    background: #fff;
    position: absolute;
    left: 24px;
    top: 10px;
}
.music_play {
    -webkit-animation:diskPlay 3s linear infinite;
    animation:diskPlay 3s linear infinite;
}
@-webkit-keyframes diskPlay {
    0% {-webkit-transform:rotateZ(0);}
    0% {-webkit-transform:rotateZ(-360deg);}
}
@keyframes diskPlay {
    0% {transform:rotateZ(0);}
    0% {transform:rotateZ(-360deg);}
}



/*share*/
.share_mask {
    background: rgba(0,0,0,0.6);
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 99;
    transition: opacity 0.3s linear;
}
.share_mask_on {
    right: 0;
    bottom: 0;
    opacity: 1;
}



/*loading*/
.loading {
    display: -webkit-flex;
    display: flex;
    width: 100%;
    height: 100%;
    background: #fff;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
    -webkit-transition: opacity 0.5s linear;
    transition: opacity 0.5s linear;
}
.loading span {
    margin: auto;
    color: #333;
    -webkit-transition: -webkit-transform 0.5s ease-out;
    transition: transform 0.5s ease-out;
    -webkit-animation: breath 2.4s linear infinite;
    animation: breath 2.4s linear infinite;
}
.loading_hide {
    opacity: 0;
}
.loading_hide span {
    -webkit-transform: translate(0,10px);
    transform: translate(0,10px);
}
@-webkit-keyframes breath {
    0% { opacity: 1; }
    40% { opacity: 0.4; }
    100% { opacity: 1; }
}
@keyframes breath {
    0% { opacity: 1; }
    40% { opacity: 0.4; }
    100% { opacity: 1; }
}


