<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>中国地图</title>
<script src="raphael.js"></script>
<script src="china-map.js"></script>
<style type="text/css" media="screen">
.china_map { width: 500px; height: 500px; margin: 200px auto; }
#paper { width: 500px; height: 500px; }
.province { display: none; }
</style>
</head>

<body>

<div class="china_map">
    <div id="paper"></div>
    <div class="province" id="heilongjiang">heilongjiang</div>
    <div class="province" id="jilin">jilin</div>
    <div class="province" id="xinjiang">xinjiang</div>
    <div class="province" id="liaoning">liaoning</div>
    <div class="province" id="beijing">beijing</div>
    <div class="province" id="neimenggu">neimenggu</div>
    <div class="province" id="gansu">gansu</div>
    <div class="province" id="tianjin">tianjin</div>
    <div class="province" id="hebei">hebei</div>
    <div class="province" id="shanxi">shanxi</div>
    <div class="province" id="ningxia">ningxia</div>
    <div class="province" id="shandong">shandong</div>
    <div class="province" id="qinghai">qinghai</div>
    <div class="province" id="shaanxi">shaanxi</div>
    <div class="province" id="jiangsu">jiangsu</div>
    <div class="province" id="henan">henan</div>
    <div class="province" id="xizang">xizang</div>
    <div class="province" id="anhui">anhui</div>
    <div class="province" id="sichuan">sichuan</div>
    <div class="province" id="hubei">hubei</div>
    <div class="province" id="chongqing">chongqing</div>
    <div class="province" id="zhejiang">zhejiang</div>
    <div class="province" id="jiangxi">jiangxi</div>
    <div class="province" id="hunan">hunan</div>
    <div class="province" id="guizhou">guizhou</div>
    <div class="province" id="fujian">fujian</div>
    <div class="province" id="yunnan">yunnan</div>
    <div class="province" id="guangdong">guangdong</div>
    <div class="province" id="guangxi">guangxi</div>
    <div class="province" id="taiwan">taiwan</div>
    <div class="province" id="hongkong">hongkong</div>
    <div class="province" id="macao">macao</div>
    <div class="province" id="hainan">hainan</div>
    <div class="province" id="shanghai">shanghai</div>
</div>

<div style="display:none;">
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-28088765-2', 'auto');
  ga('send', 'pageview');

</script>
</div>
</body>
</html>