/*********************************************************************/
/*                              global                               */
/*********************************************************************/


* {
	box-sizing: content-box;
	-webkit-box-sizing: content-box;
}
html, body{
	height:100%;
	-webkit-tap-highlight-color:transparent;
}
body {
	line-height: 1.6;
	font-size: 1em;
	color: #707070;
}
body.disable-default-action
{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}





/*********************************************************************/
/*                              common                               */
/*********************************************************************/


/******************************  inner  ******************************/

.inner {
	min-height: 100vh;
	padding: 0 0 3em;
	background: #f0f2f5;
}


/****************************  bottom menu  **************************/

.toolbar {
	height: 3em;
	background: #1483d7;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 50;
}
.toolbar .menu_btn {
	float: left;
	display: block;
	width: 3em;
	height: 3em;
	background: url(../images/icon_hamburger@2x.png) no-repeat center center;
	background-size: 40px 40px;
}
.toolbar ul {
	padding: 0.5em 0;
	background: #1483d7;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 3em;
	z-index: 50;
	transition: transform 0.1s ease-out;
	-webkit-transition: -webkit-transform 0.1s ease-out;
	transform-origin: 0% 100%;
	-webkit-transform-origin: 0% 100%;
	transform: scale(0);
	-webkit-transform: scale(0);
}
.toolbar ul.show {
	transform: scale(1);
	-webkit-transform: scale(1);
}
.toolbar li {
	float: left;
	width: 50%;
	height: 3em;
	line-height: 3em;
	overflow: hidden;
}
.toolbar li:nth-child(4n+1),
.toolbar li:nth-child(4n+2) {
	background: rgba(255,255,255,0.1);
}
.toolbar li a {
	display: block;
	background: url(../images/icon_arrow@2x.png) no-repeat 0.5em center;
	background-size: 40px 40px;
	color: #fff;
	text-indent: 3em;
	transition: background-color 0.3s ease-out;
	-webkit-transition: background-color 0.3s ease-out;
}
.toolbar li a:active {
	background-color: rgba(0,0,0,0.2);
}




/*********************************************************************/
/*                               index                               */
/*********************************************************************/


.index {
	width: 100%;
	min-height: 100vh;
	background: #3da3f1 url(../images/index_bg@2x.png) no-repeat center center;
	background-size: cover;
	position: relative;
}
.index h1 {
	width: 220px;
	height: 80px;
	overflow: hidden;
	background: url(../images/index_slogen@2x.png) no-repeat center center;
	background-size: cover;
	text-indent: -100%;
	position: absolute;
	left: 50%;
	top: 25vh;
	z-index: 2;
	transform: translate(-50%, 0);
	-webkit-transform: translate(-50%, 0);
}


/*************************  index animation  *************************/

.index .animation {
	overflow-x: hidden;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 3em;
	z-index: 3;
}
.index .air {
	position: absolute;
}
.index .air .plane {
	width: 150px;
	height: 60px;
	overflow: hidden;
	background: url(../images/index_plane@2x.png) no-repeat center center;
	background-size: contain;
	transform: translate(150px, 0);
	-webkit-transform: translate(150px, 0);
}
.index .air1 {
	right: 0;
	top: 10vh;
}
.index .air2 {
	left: 0;
	top: 45vh;
	transform: scale(-0.6, 0.6);
	-webkit-transform: scale(-0.6, 0.6);
}
.index .air1 .plane {
	animation: plane 4s linear 3s infinite;
	-webkit-animation: plane 4s linear 3s infinite;
}
.index .air2 .plane {
	animation: plane 5s linear infinite;
	-webkit-animation: plane 5s linear infinite;
}
@keyframes plane {
	0% { transform: translate(800px, 0); }
	100% { transform: translate(-800px, 0); }
}
@-webkit-keyframes plane {
	0% { -webkit-transform: translate(800px, 0); }
	100% { -webkit-transform: translate(-800px, 0); }
}
.index .sea {
	width: 160px;
	height: 42px;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 70vh;
	transform: translate(200px, 0);
	-webkit-transform: translate(200px, 0);
	animation: ship 8s linear 2s infinite;
	-webkit-animation: ship 8s linear 2s infinite;
}
.index .sea .ship {
	width: 130px;
	height: 40px;
	overflow: hidden;
	background: url(../images/index_ship@2x.png) no-repeat center center;
	background-size: contain;
	position: absolute;
	left: 50%;
	top: 0;
	transform: translate(-50%, 0);
	-webkit-transform: translate(-50%, 0);
}
.index .sea .wave {
	width: 355px;
	height: 4px;
	overflow: hidden;
	background: url(../images/index_wave@2x.png) no-repeat center center;
	background-size: contain;
	position: absolute;
	right: 0;
	bottom: 0;
	animation: wave 2s linear 2s infinite;
	-webkit-animation: wave 2s linear 2s infinite;
}
@keyframes ship {
	0% { transform: translate(160px, 0); }
	100% { transform: translate(-500px, 0); }
}
@-webkit-keyframes ship {
	0% { -webkit-transform: translate(160px, 0); }
	100% { -webkit-transform: translate(-500px, 0); }
}
@keyframes wave {
	0% { transform: translate(0, 0); }
	100% { transform: translate(24px, 0); }
}
@-webkit-keyframes wave {
	0% { -webkit-transform: translate(0, 0); }
	100% { -webkit-transform: translate(24px, 0); }
}


/***************************  index menu  ****************************/

.index nav {
	height: 3em;
	background: #1483d7;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9;
}
.index nav li {
	float: left;
	width: 33.33%;
	height: 100%;
	line-height: 3em;
	transition: background 0.3s ease-out;
}
.index nav .active {
	background: #0869b4;
}
.index nav a {
	display: block;
	height: 100%;
	background: no-repeat 10% center;
	background-size: 30px 30px;
	font-size: 0.9em;
	color: #fff;
	text-align: center;
	text-indent: 2em;
}
.index nav li:nth-child(1) a {
	background-image: url(../images/icon_index1@2x.png);
}
.index nav li:nth-child(2) a {
	background-image: url(../images/icon_index2@2x.png);
}
.index nav li:nth-child(3) a {
	background-image: url(../images/icon_index3@2x.png);
}
.index .menu {
	overflow: hidden;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 3em;
	z-index: 5;
}
.index .menu ul {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	transition: transform 0.5s cubic-bezier(0.15, 0.95, 0.41, 0.95);
	-webkit-transition: -webkit-transform 0.5s cubic-bezier(0.15, 0.95, 0.41, 0.95);
	transform: translate(0, 100%);
	-webkit-transform: translate(0, 100%);
}
.index .menu .active {
	transform: translate(0, 0);
	-webkit-transform: translate(0, 0);
}
.index .menu li {
	height: 5em;
	border-bottom: 1px solid #eee;
}
.index .menu li:last-child {
	border: none;
}
.index .menu li a {
	display: block;
	height: 100%;
	background: #f5f5f5;
	transition: background 0.3s ease-out;
	-webkit-transition: background 0.3s ease-out;
}
.index .menu li a:active {
	background: #dfdfdf;
}
.index .menu li img {
	float: left;
	width: 3em;
	height: 3em;
	border-radius: 50%;
	margin: 1em;
}
.index .menu li h2 {
	padding: 0.9em 0 0;
	color: #333;
	font-size: 1.1em;
	font-weight: bold;
}
.index .menu li p {
	color: #1483d7;
	font-size: 0.8em;
}





/*********************************************************************/
/*                               pages                               */
/*********************************************************************/


/*****************************  环境政策  ******************************/

.hjzc .banner {
	height: 240px;
	background: url(../images/bg1@2x.png) no-repeat center top;
	background-size: 100%;
	color: #1c3c50;
	position: relative;
}
.hjzc .banner h1 {
	padding: 7em 0 0;
	margin: 0 30px;
	border-bottom: 1px solid #1c3c50;
	font-size: 1.2em;
}
.hjzc .banner p {
	line-height: 1.2;
	padding: 0.5em 0 0;
	margin: 0 30px;
	font-size: 1em;
}
.hjzc .expand {
	margin: 0 30px;
}
.hjzc .expand li {
	border-bottom: 1px solid #dfdfdf;
}
.hjzc .expand li a {
	display: block;
	height: 3em;
	line-height: 3em;
	color: #1483d7;
}
.hjzc .expand li a:before {
	content: "+";
	display: inline-block;
	width: 20px;
	height: 20px;
	line-height: 20px;
	margin: 0 0.5em 0 0;
	background: #1483d7;
	text-align: center;
	border-radius: 0.2em;
	color: #fff;
}
.hjzc .expand li .content {
	display: none;
}
.hjzc .expand li .content p {
	padding: 0 0 1em;
}
.hjzc .expand li.show a:before {
	content: "-";
}
.hjzc .expand li.show .content {
	display: block;
}


/*****************************  跨境概念  ******************************/

.kjgn .taglist {
	padding: 35vh 0;
	position: relative;
}
.kjgn .taglist:before {
	content: "";
	display: block;
	height: 30vh;
	background-image:-webkit-linear-gradient(to bottom, rgba(240,242,245,1), rgba(240,242,245,0.9), rgba(240,242,245,0));
	background-image:linear-gradient(to bottom, rgba(240,242,245,1), rgba(240,242,245,0.9), rgba(240,242,245,0));
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 20;
}
.kjgn .taglist:after {
	content: "";
	display: block;
	height: 30vh;
	background-image:-webkit-linear-gradient(to top, rgba(240,242,245,1), rgba(240,242,245,0.9), rgba(240,242,245,0));
	background-image:linear-gradient(to top, rgba(240,242,245,1), rgba(240,242,245,0.9), rgba(240,242,245,0));
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 20;
}
.kjgn .taglist a {
	display: block;
	line-height: 2.4;
	text-align: center;
	color: #448aca;
}


/*****************************  入驻流程  ******************************/

.rzlc .slider {
	overflow: hidden;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 3em;
}
.rzlc .slider #iSlider-wrapper {
	width: 100%;
	height: 100%;
}
.rzlc .pages {
	display: none;
}
.rzlc .page_content {
	width: 100%;
	height: 100%;
	color: #1c3c50;
	text-align: center;
}
.rzlc .page_content h2 {
	padding: 0.8em 0;
	font-size: 1.2em;
}
.rzlc .page_content p {
	padding: 1em 0;
	font-size: 0.9em;
}
.rzlc .page_content a.button {
	display: block;
	width: 80%;
	height: 3em;
	margin: auto;
	line-height: 3em;
	background: #3da3f1;
	border-radius: 0.2em;
	color: #fff;
	text-align: center;
	transition: background 0.3s ease-out;
	-webkit-transition: background 0.3s ease-out;
}
.rzlc .page_content a.button:active {
	background: #1f8adc;
}


/*****************************  提问留言  ******************************/

.twly {
	background: #fff;
}
.twly .input {
	height: 2.2em;
	padding: 0.5em 5%;
	background: #3da3f1;
}
.twly .input input {
	border-radius: 2em;
	background: #1483d7;
	color: #fff;
}
.twly .input input[type="text"] {
	width: 68%;
	padding: 0.8em;
	color: rgba(255,255,255,0.7);
}
.twly .input input[type="submit"] {
	float: right;
	padding: 0.8em 1.5em;
}
.twly .question nav {
	height: 3em;
	line-height: 3em;
	background: #f0f2f5;
}
.twly .question nav li {
	float: left;
	width: 33.33%;
	border-bottom: 2px solid;
	text-align: center;
}
.twly .question nav li:nth-child(1) {
	border-color: #fc6e51;
}
.twly .question nav li:nth-child(2) {
	border-color: #48cfad;
}
.twly .question nav li:nth-child(3) {
	border-color: #ac92ec;
}
.twly .question nav li a {
	display: block;
	width: 100%;
	height: 100%;
	color: #818a8c;
	transition: background 0.3s ease-out;
	-webkit-transition: background 0.3s ease-out;
}
.twly .question nav li a:active {
	background: rgba(0,0,0,0.15);
}
.twly .question ul li {
	border-bottom: 1px solid #dfdfdf;
}
.twly .question ul li:last-of-type {
	border: none;
}
.twly .question ul li a {
	display: block;
	padding: 1em 1em 1em 3em;
	background: url(../images/icon_lamp@2x.png) no-repeat 0.8em 1em;
	background-size: 30px 30px;
	transition: background-color 0.3s ease-out;
	-webkit-transition: background-color 0.3s ease-out;
}
.twly .question ul li a:active {
	background: #eee;
}
.twly .question ul li h2 {
	padding: 0 0 0.4em;
	color: #aaa;
}
.twly .question ul li p {
	color: #333;
}


/*****************************  新闻资讯  ******************************/

.xwzx {
	background: #fff;
}
.xwzx .tab {
	height: 3em;
	padding: 4.5em 0 0;
	background: url(../images/bg2@2x.png) no-repeat center center;
	background-size: cover;
	position: relative;
}
.xwzx .tab a {
	float: left;
	display: block;
	width: 50%;
	height: 3em;
	line-height: 3em;
	text-align: center;
	color: #fff;
	transition: background 0.3s ease-out;
	-webkit-transition: background 0.3s ease-out;
}
.xwzx .tab a.current {
	background: rgba(255,255,255,0.3);
}
.xwzx .news_list ul {
}
.xwzx .news_list li {
	border-bottom: 1px solid #dfdfdf;
}
.xwzx .news_list li a {
	display: block;
	height: 5em;
	padding: 0.5em;
	transition: background 0.3s ease-out;
	-webkit-transition: background 0.3s ease-out;
}
.xwzx .news_list li a:active {
	background: #eee;
}
.xwzx .news_list li img {
	float: left;
	width: 5em;
	height: 5em;
	margin: 0 0.5em 0 0;
}
.xwzx .news_list li h2 {
	height: 2.4em;
	line-height: 1.2;
	overflow: hidden;
	color: #1c3c50;
	font-size: 1.1em;
}
.xwzx .news_list li p {
	height: 2.2em;
	overflow: hidden;
	line-height: 1.2;
	padding: 0.4em 0 0;
	font-size: 0.9em;
	color: #aaa;
}


/*****************************  海外资讯  ******************************/

.hwzx .news_list {
	margin: 2px;
}
.hwzx .news_list li {
	float: left;
	width: 50%;
}
.hwzx .news_list li .card {
	display: block;
	margin: 2px;
	box-shadow: 0 1px 4px rgba(0,0,0,0.15);
}
.hwzx .news_list li img {
	display: block;
	width: 100%;
}
.hwzx .news_list li .text {
	padding: 0.5em 0.8em 0.8em;
	background: #fff;
}
.hwzx .news_list li h2 {
	max-height: 1.6em;
	overflow: hidden;
	margin: 0 0 0.2em;
	color: #1483d7;
}
.hwzx .news_list li p {
	max-height: 2.2em;
	overflow: hidden;
	line-height: 1.2;
	font-size: 0.8em;
	color: #333;
}


/*****************************  园区微书  ******************************/

.yqws .content a {
	height: 0;
	line-height: 0;
	overflow: hidden;
}
.yqws .content img {
	display: block;
	width: 100%;
}
.yqws .nav {
	height: 3em;
	background: #1483d7;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 50;
}
.yqws .nav a {
	float: left;
	display: block;
	width: 20%;
	height: 100%;
	text-align: center;
	color: #fff;
	transition: background 0.3s ease-out;
	-webkit-transition: background 0.3s ease-out;
}
.yqws .nav a:active {
	background: rgba(0,0,0,0.15);
}
.yqws .nav span {
	display: inline-block;
	width: 2em;
	line-height: 1.1em;
	padding: 0.65em 0 0;
	font-size: 0.9em;
}


/*****************************  业务模式  ******************************/

.ywms .content img {
	display: block;
	width: 100%;
}





/*********************************************************************/
/*                              plugins                              */
/*********************************************************************/


//****************************  iSlider  ******************************//

#iSlider-wrapper {
	overflow: hidden;
	position: absolute;
}
#iSlider-wrapper ul {
	list-style: none;
	margin: 0;
	padding: 0;
	height: 100%;
	overflow: hidden;
}
#iSlider-wrapper li {
	position: absolute;
	margin: 0;
	padding: 0;
	height: 100%;
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-pack: center;
	-webkit-box-align: center;
	list-style: none;
}
#iSlider-wrapper li img{
	max-width: 100%;
	max-height: 100%;
}


//***************************  tabSwitch  *****************************//

.tab_switch_fade .switch_tab { display: none; }
.tab_switch_fade .current_tab { display: block; }





