body { font-family: 'microsoft yahei','stheiti',sans-serif; color: #333; font-size: 1em; }
.title { margin: 50px 0 0; font-size: 2em; font-weight: normal; text-align: center; }
.text { width: 400px; line-height: 1.6; margin: 20px auto 0; }
.matrix { margin: 20px auto 0; }
.matrix span { display: inline-block; width: 10px; height: 10px; margin: 5px; background: #333; border-radius: 30px;
    transition:background-color 0.5s;
    -moz-transition:background-color 0.5s;
    -webkit-transition:background-color 0.5s;
    animation:fadein 1s;
    -webkit-animation:fadein 1s;
    -moz-animation:fadein 1s;
}
.matrix span.color0 { background: #00CACA; }
.matrix span.color1 { background: #AD5A5A; }
.form { margin: 20px 0 0; text-align: center; }
.form span,
.form input { display: inline-block; height: 20px; line-height: 20px; font-size: 12px; }
.form input { width: 50px; padding: 5px; margin: 0 10px 0 0; border: 1px solid #eee; background: #fff; border-radius: 5px; }
.buttons { margin: 20px 0 0; text-align: center; }
.buttons a { display: inline-block; height: 30px; line-height: 30px; padding: 0 20px; margin: 0 5px; background: #fff; border: 1px solid #eee; border-radius: 5px; color: #777; font-size: 12px; }
.buttons a:hover { border-color: #dfdfdf; color: #AD5A5A; }
.copyright { margin: 50px 0 50px; padding: 20px 0 0; border-top: 1px solid #eee; text-align: center; color: #aaa; }

/*animations*/
a { color: #AD5A5A;
    transition:all .7s;
    -moz-transition:all .7s;
    -webkit-transition:all .7s;
}
@keyframes fadein {
    0% { opacity: 0.35; }
    100% { opacity: 1; }
}
@-webkit-keyframes fadein {
    0% { opacity: 0.35; }
    100% { opacity: 1; }
}
@-moz-keyframes fadein {
    0% { opacity: 0.35; }
    100% { opacity: 1; }
}
